

<div id="index_header">Welcome to my homepage!</div>


<button class="index-btn" onclick="getPersonList()">People</button>

<div id="index_form">
    <label id="index_label"> Enter ID</label>
    <input id="person-id" type="number"/>
    <div class="btn-group">
        <input class="index-btn" id="languages-btn" type="button" value=" Languages" />
        <input class="index-btn" id="delete-btn" type="button" value=" Delete" />
    </div>
</div>


<div id="message"></div>
<div id="People"></div>

